body { 
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1{
    color: #2c3e50;
}
img{
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
p{
    fotn-size: 18px;
    color: #333;
    max-width: 20px auto;
    line-height: 1.5;
}
